spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
        - id: question-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/questions/**, /api/topics/**
        - id: profile-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/profiles/**
        - id: battle-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/battles/**
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

server:
  port: 8080

logging:
  level:
    org.springframework.cloud.gateway: DEBUG

