spring:
  application:
    name: auth-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:9090/realms/flashcard}
          jwk-set-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:9090/realms/flashcard}/protocol/openid-connect/certs

server:
  port: 8081

logging:
  level:
    org.springframework.security: DEBUG

